In [ ]:
import pandas as pd

In [ ]:
imdb_movies = pd.read_csv(r"/content/drive/MyDrive/data/new/title.akas.tsv" , sep='\t', low_memory=False, quoting=3)

In [ ]:
imdb_movies = imdb_movies.drop(['types','attributes','isOriginalTitle'], axis=1)

In [ ]:
imdb_movies.columns

Index(['titleId', 'ordering', 'title', 'region', 'language'], dtype='object')

In [ ]:
imdb_movies['title'] = imdb_movies['title'].replace(',','', regex=True)
imdb_movies['title'] = imdb_movies['title'].replace('"','', regex=True)
imdb_movies['title'] = imdb_movies['title'].replace(';','', regex=True)

In [ ]:
imdb_movies[imdb_movies['titleId']=="tt0097089"]

          titleId  ordering                          title region language
619693  tt0097089         1  Sex and the Married Detective     \N       \N
619694  tt0097089         2                  Studie i mord     SE       \N
619695  tt0097089         3  Sesso e il poliziotto sposato     IT       \N
619696  tt0097089         4  Sex and the Married Detective     US       \N
619697  tt0097089         5                      Fantasmes     CA       fr
619698  tt0097089         6      Seksiä komisario Columbo!     FI       \N
619699  tt0097089         7                     Black Lady    XWG       \N
619700  tt0097089         8             La signora in nero     IT       \N

In [ ]:
#imdb_movies['titleId'] = imdb_movies['titleId'].map(lambda x: x.lstrip('0'))
imdb_movies['titleId'] = imdb_movies['titleId'].map(lambda x: x.lstrip('tt'))

In [ ]:
#imdb_movies['titleId'] = imdb_movies['titleId'].map(lambda x: x.lstrip(r'0+'))
imdb_movies['titleId'] = imdb_movies['titleId'].map(lambda x: x.lstrip(r'0+'))
imdb_movies

          titleId  ordering                      title region language
0               1         1  Carmencita - spanyol tánc     HU       \N
1               1         2                 Καρμενσίτα     GR       \N
2               1         3                 Карменсита     RU       \N
3               1         4                 Carmencita     US       \N
4               1         5                 Carmencita     \N       \N
...           ...       ...                        ...    ...      ...
19527966  9916852         3                Folge #3.20     DE       de
19527967  9916852         4                エピソード #3.20     JP       ja
19527968  9916852         5             Episódio #3.20     PT       pt
19527969  9916852         6             Episodio #3.20     IT       it
19527970  9916852         7               एपिसोड #3.20     IN       hi

[19527971 rows x 5 columns]

In [ ]:
imdb_movies.to_csv(r"/content/drive/MyDrive/data/new/title.akas.csv",sep=',', index = False)